In [1]:
import pandas as pd

### Choosing data in a Series
Let's create a simple series and store it in a variable named “series_1”.

In [2]:
series_1 = pd.Series([2, 3, 4, 5, 6])
series_1

0    2
1    3
2    4
3    5
4    6
dtype: int64

In [ ]:
series_1[3]

5

In [7]:
sale = pd.Series([500,85000,40000,9600,100000],index = ['Cookie', 'Choco', 'Toothpaste', 'Soap', 'Toffee'])
sale

Cookie           500
Choco          85000
Toothpaste     40000
Soap            9600
Toffee        100000
dtype: int64

In [8]:
sale['Toffee']

np.int64(100000)

### Choosing data in Data frame
As discussed before, a data frame is a two-dimensional data structure with rows and columns. The Rows and columns in a data frame are indexed separately and can be used to select the data we need for our analysis.

Let's create a simple data frame with three columns state, year and pop (population).

In [9]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],'year': [2000, 2001, 2002, 2001, 2002, 2003],'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
data = pd.DataFrame(data)
data

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2

### Selecting columns in a data frame

In our example, we will select the column 'state’ from the data frame, and the result will show us all the data stored in that column. There are two ways to select the column.

In [10]:
data.state

0      Ohio
1      Ohio
2      Ohio
3    Nevada
4    Nevada
5    Nevada
Name: state, dtype: object

In [11]:
data['state']

0      Ohio
1      Ohio
2      Ohio
3    Nevada
4    Nevada
5    Nevada
Name: state, dtype: object

In [12]:
data.pop

<bound method DataFrame.pop of     state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2>

In [13]:
data['pop']

0    1.5
1    1.7
2    3.6
3    2.4
4    2.9
5    3.2
Name: pop, dtype: float64

In [14]:
data[['pop', 'state']]

   pop   state
0  1.5    Ohio
1  1.7    Ohio
2  3.6    Ohio
3  2.4  Nevada
4  2.9  Nevada
5  3.2  Nevada

In [15]:
df = pd.read_csv('../survey_results_public.csv', usecols=['Age','ConvertedComp', 'Country', 'LanguageWorkedWith', 'YearsCode'])

### iloc

Let’s get the value stored at row number 1 and column number 2 using iloc.