In [10]:
import pandas as pd

In [11]:
people = {
'Id': ['cs-01', 'mth-02', 'eng-03', 'phy-04', 'mth-05', 'cs-06'],
'Name': ['Fatima', 'Noureen', 'Salman', 'Sana', 'Jack', 'Ali'],
'subject': ['computer science', 'math', 'english', 'physics', 'statistics', 'programming']
}
data = pd.DataFrame(people)
data

       Id     Name           subject
0   cs-01   Fatima  computer science
1  mth-02  Noureen              math
2  eng-03   Salman           english
3  phy-04     Sana           physics
4  mth-05     Jack        statistics
5   cs-06      Ali       programming

In [12]:
data.set_index('Id', inplace=True)
data

           Name           subject
Id
cs-01    Fatima  computer science
mth-02  Noureen              math
eng-03   Salman           english
phy-04     Sana           physics
mth-05     Jack        statistics
cs-06       Ali       programming

In [13]:
data.index

Index(['cs-01', 'mth-02', 'eng-03', 'phy-04', 'mth-05', 'cs-06'], dtype='object', name='Id')

In [14]:
data.loc['cs-01']

Name                 Fatima
subject    computer science
Name: cs-01, dtype: object

In [15]:
data.reset_index(inplace=True)
data

       Id     Name           subject
0   cs-01   Fatima  computer science
1  mth-02  Noureen              math
2  eng-03   Salman           english
3  phy-04     Sana           physics
4  mth-05     Jack        statistics
5   cs-06      Ali       programming

In [16]:
df = pd.read_csv('../survey_results_public.csv', index_col='Country')
df.head()

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,CurrencyDesc,CurrencySymbol,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Country,,,,,,,,,,,,,,,,,,,,,
Germany,1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,European Euro,EUR,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
United Kingdom,2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,Pound sterling,GBP,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
Russian Federation,3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,NaN,NaN,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
Albania,4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albanian lek,ALL,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
United States,5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,NaN,NaN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8

In [17]:
df.sort_index(ascending=False)
df

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,CurrencyDesc,CurrencySymbol,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Country,,,,,,,,,,,,,,,,,,,,,
Germany,1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,European Euro,EUR,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
United Kingdom,2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,Pound sterling,GBP,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
Russian Federation,3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,NaN,NaN,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
Albania,4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albanian lek,ALL,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
United States,5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,NaN,NaN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
United States,64858,NaN,Yes,NaN,16,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,NaN,10,Less than 1 year
Morocco,64867,NaN,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Viet Nam,64898,NaN,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Poland,64925,NaN,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Angular;Angular.js;React.js,NaN,NaN,NaN,NaN,NaN
Spain,65112,NaN,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",ASP.NET Core;jQuery,Angular;Angular.js;ASP.NET Core;jQuery,NaN,NaN,NaN,NaN

In [19]:
df.sort_index(ascending=False, axis='columns')

,YearsCodePro,YearsCode,WorkWeekHrs,WelcomeChange,WebframeWorkedWith,WebframeDesireNextYear,UndergradMajor,Trans,SurveyLength,SurveyEase,...,DevType,DatabaseWorkedWith,DatabaseDesireNextYear,CurrencySymbol,CurrencyDesc,ConvertedComp,CompTotal,CompFreq,Age1stCode,Age
Country,,,,,,,,,,,,,,,,,,,,,
Germany,27,36,50.0,Just as welcome now as I felt last year,ASP.NET;ASP.NET Core,ASP.NET Core,"Computer science, computer engineering, or sof...",No,Appropriate in length,Neither easy nor difficult,...,"Developer, desktop or enterprise applications;...",Elasticsearch;Microsoft SQL Server;Oracle,Microsoft SQL Server,EUR,European Euro,NaN,NaN,Monthly,13,NaN
United Kingdom,4,7,NaN,Somewhat more welcome now than last year,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,...,"Developer, full-stack;Developer, mobile",NaN,NaN,GBP,Pound sterling,NaN,NaN,NaN,19,NaN
Russian Federation,NaN,4,NaN,Somewhat more welcome now than last year,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15,NaN
Albania,4,7,40.0,Somewhat less welcome now than last year,NaN,NaN,"Computer science, computer engineering, or sof...",No,NaN,NaN,...,NaN,NaN,NaN,ALL,Albanian lek,NaN,NaN,NaN,18,25.0
United States,8,15,NaN,Just as welcome now as I felt last year,Ruby on Rails,Django;Ruby on Rails,"Computer science, computer engineering, or sof...",No,Too short,Easy,...,NaN,MySQL;PostgreSQL;Redis;SQLite,MySQL;PostgreSQL,NaN,NaN,NaN,NaN,NaN,16,31.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
United States,Less than 1 year,10,NaN,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,...,Senior executive/VP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16,NaN
Morocco,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Cassandra;Couchbase;DynamoDB;Elasticsearch;Fir...,Cassandra;Couchbase;DynamoDB;Elasticsearch;Fir...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Viet Nam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Poland,NaN,NaN,NaN,NaN,NaN,Angular;Angular.js;React.js,NaN,NaN,NaN,NaN,...,NaN,Oracle,DynamoDB;Elasticsearch;MongoDB;MySQL;PostgreSQL,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Spain,NaN,NaN,NaN,NaN,Angular;Angular.js;ASP.NET Core;jQuery,ASP.NET Core;jQuery,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,...,NaN,MariaDB;Microsoft SQL Server;MySQL;Oracle,MariaDB;Microsoft SQL Server,NaN,NaN,NaN,NaN,NaN,NaN,NaN